<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
    <body>
    {% include "components/navbar.html.jinja" %}=
    <h1 class = "text-center">Browse my products ;)</h1>
        <main class="grid grid-cols-4 gap-3 max-w-4xl mx-auto p-6 mb-5">
            {% for x in products %}
                <a href="/product/{{ ['ID'] }}" class = "grid" >
                    <img class ="h-25 mx-auto" src =" {{ x['Image'] }} ">
                    <br>
                    {{ x["Name"] }} <br>
                    ${{ x["Price"] }}
                </div>
            {% endfor %}
        </main>
    </body>
</html>