<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Browse Page</title>

  </head>
    <body>
    {% include "components/navbar.html.jinja" %}

 <div class="px-6 py-10">
  <h1 class="text-3xl font-bold mb-8">Browse Products</h1>

  <!-- Grid container -->
  <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">

    <!-- Loop through products -->
    {% for product in products %}
   

    
    {% endfor %}

  </div>
</div>
</body>

  
</html>