<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found | Astrielle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-[#F4EBE8] flex items-center justify-center min-h-screen px-6">

    <div class="text-center">

        <img src="/static/images/error.gif" alt="404 Error" class="w-96 max-w-full mx-auto mb-6">

     
        <h1 class="text-4xl font-bold text-gray-800 mb-2">404 - Page Not Found</h1>

      
        <p class="text-gray-600 text-lg mb-6">
            Sorry, the page you are looking for does not exist.
        </p>

    
        <a href="/"
           class="inline-block bg-[#E594A1] hover:bg-[#D48390] text-white px-8 py-4 rounded-full font-bold transition shadow-md">
            Go Back Home
        </a>
    </div>

</body>
</html>
