<nav class="bg-pink-200 p-4 flex items-center justify-between">
  <a href = "/"> Mia business</a>
<div class="flex items-center gap-2">
  <a href="/contact">Contact Page</a>
  

</div>

<hl class="text 3xl font-bold underline">
</hl>

</nav>