<!DOCTYPE html>
<html>
  <head>
  <html lang="en"></html>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
   
<nav class="bg-[#F4EBE8] p-5 px-6 shadow-md flex items-center font-mono text-[#000000] sticky top-0 z-50">
  <div class="flex items-center gap-2">
    <img src="/static/images/logo.png" alt="Astrielle logo" class="h-10 w-auto">
    <span class="brand font-bold text-lg">Astrielle</span>
  </div>

  <div class="flex items-center ml-auto gap-6">
    <a href="/" class="hover:text-[#e05780] transition">Home</a>
    <a href="/browse" class="hover:text-[#e05780] transition">Browse</a>

    <a href="/cart" class="relative">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-[#e05780] transition" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
      </svg>
    </a>

    {% if current_user.is_authenticated %}
      <span class="text-sm hidden md:block">Hii, {{ current_user.name }}! 🤍</span>
    {% endif %}

    <div class="relative group">
      <button class="hover:text-[#e05780] flex items-center py-2 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </button>

      <div class="absolute right-0 mt-0 w-40 bg-white border border-gray-100 rounded-xl shadow-xl opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50 overflow-hidden">
        {% if not current_user.is_authenticated %}
          <a href="/login" class="block px-4 py-3 text-gray-700 hover:bg-[#e05780] hover:text-white transition">Log in</a>
          <a href="/sign_up" class="block px-4 py-3 text-gray-700 hover:bg-[#e05780] hover:text-white transition">Sign up</a>
        {% else %}
          <a href="/logout" class="block px-4 py-3 text-gray-700 hover:bg-[#e05780] hover:text-white transition">Logout</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>